<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="plugin.opensmile"
        version="0.7.0">

  <name>OpenSmile</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/opensmile.js" target="js/opensmile.js"/>

  <js-module src="www/opensmile.js" name="opensmile">
    <clobbers target="opensmile" />
  </js-module>

  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="OpenSmile">
        <param name="android-package" value="myjni.OpenSmile"/>
      </feature>
    </config-file>

    <source-file src="src/android/myjni" target-dir="src/"/>
    <source-file src="src/android/assets" target-dir="src/"/>
    <source-file src="src/android/libs/armeabi" target-dir="libs/"/>
    <source-file src="src/android/jni" target-dir="src/"/>
    <source-file src="src/android/com/audeering" target-dir="src/com"/>
  </platform>

  <platform name="ios">
    
    <config-file target="config.xml" parent="/widget">
      <feature name="OpenSmile">
        <param name="ios-package" value="HWPOpenSmile" />
      </feature>
    </config-file>

    <header-file src="src/ios/HWPOpenSmile.h" target-dir="OpenSmilePlugin"/>
    <source-file src="src/ios/HWPOpenSmile.m" target-dir="OpenSmilePlugin"/>
  </platform>

  <platform name="wp7">
    <source-file src="src/wp7/OpenSmile.cs"/>
  </platform>

</plugin>